<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Risk Visualizer</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Google Font, Custom CSS -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600|Nunito' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet">

    <!-- Angular -->
    <script src="bower_components/angular/angular.min.js"></script>

    <!-- Angular Bootstrap UI -->
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

</head>

<body ng-app="RiskVisualizer">

    <!--Controller-->
    <div class="container-fluid" ng-controller="RiskVisualizerCtrl">

        <!--Header-->
        <div class="jumbotron">
            <h1>Risk Visualizer</h1>
            <br>
            
            <!--Graph buttons-->
            <div class="btn-group">
                <button type="button" class="btn btn-warning graphbtn" ng-class="{active:selectedIndex==$index}" id="{{button | lowercase}}btn" ng-repeat="button in buttons" ng-click="clickSelect($index)"><span uib-tooltip="{{buttonsDescription[$index]}} Graph">{{button}}</span></button>
            </div>
        </div>

        <!--Zoom buttons-->
        <div class="btn-group">
            <button type="button" class="btn btn-purple graphbtn btn-xs" ng-class="{active:selectedZoom==$index, disabled:!zoomsEnabled[$index]}" id="{{button | lowercase}}btn" ng-repeat="zoom in zooms" ng-click="clickZoom($index); compareGraph()"><span uib-tooltip="{{zoomsText[$index]}}"><span class="glyphicon glyphicon-search white"></span> {{zoom | number}}x</span>
            </button>
        </div>

        <hr>

        <!--GRAPHS-->
        <div class="graphdiv" ng-repeat="div in divs">
            <div class="row">
                <div class="col-xs-6">
                    <form name="myForm">
                        <input class="my-input col-md-6 col-xs-12" type="number" placeholder="Cases" ng-model="numerators[$index]" ng-pattern="/^\d+$/"/>
                        <input class="my-input col-md-6 col-xs-12" type="number" placeholder="Population" ng-model="denominators[$index]" ng-pattern="/^\d+$/" ng-maxlength="100000000"/>
                    </form>
                </div>
                <div class="col-xs-6">
                    <!--PROGRESS BAR-->
                    <div class="progress graph barholder" ng-show="selectedIndex==0">
                        <div class="progress-bar progress-bar-danger bar" role="progressbar" style="width:{{result[$index]}}%">{{resultText[$index]}}</div>
                    </div>

                    <!--CIRCLES-->
                    <div class="graph circles" ng-show="selectedIndex==1">
                        <span ng-repeat="circle in circles[$index] track by $index">
                                <img ng-src="img/redc.png" ng-if="circle"/>
                                <img ng-src="img/grayc.png" ng-if="!circle"/>
                                <br ng-if="!(($index + 1) % 5)" />
                                </span>
                        <h5 class="red">{{resultText[$index]}}</h5>
                    </div>

                    <!--HUMANS-->
                    <div class="graph humans" ng-show="selectedIndex==2">
                        <span ng-repeat="human in humans[$index] track by $index">
                        <span class="glyphicon glyphicon-user" ng-class="{'red': human, 'gray': !human}"></span>
                        <br ng-if="!(($index + 1) % 10)" />
                        </span>
                        <h5 class="red">{{resultText[$index]}}</h5>

                    </div>

                    <!--PIE-->
                    <div class="graph pie" ng-show="selectedIndex==3">
                        <canvaspie data="result[$index]">Please update your browser to support the canvas element.</canvaspie>
                        <h5 class="red">{{resultText[$index]}}</h5>
                    </div>

                    <!--DOTS-->
                    <div class="graph pie" ng-show="selectedIndex==4">
                        <canvasdots data="result[$index]">Please update your browser to support the canvas element.</canvasdots>
                        <h5 class="red">{{resultText[$index]}}</h5>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <!-- Compare Buttons -->
        <div class="row">
            <div class="col-xs-6">
                <button type="button" class="btn btn-purple" id="delGraph" ng-click="delGraph()">-</button>
                <button type="button" class="btn btn-purple" id="addGraph" ng-click="addGraph()">+</button>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-warning" id="compare" ng-click="clickZoom(0); compareGraph()">Compare</button>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer id="pagefooter">
            <h5>Kindra Clark-Snustad Risk Visualizer</h5>
            <h5>Developed by <a href="http://www.xaviro.com">Xavi Ro</a> &copy; {{footerDate}}</h5>
        </footer>


    </div>

    <!-- Custom Javascript -->
    <script src="js/app.js"></script>

</body>

</html>